@namespace Purple.Features.Applications.Components
@inherits BaseComponent
@using Purple.Components

<nav class="navbar fixed-bottom navbar-light bg-light">
  <BlazorLocation TestId="BlazorLocation" />
  <span>Version:@Version</span>
</nav>
